/* イベント名 */
.EventHeader {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 50px;
  background-color: #fff;
  margin-inline: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(151, 123, 38, 0.338);
}

.EventHeader img {
  width: 300px;
  height: auto;
}

/* レビュー部分 */
.ReviewsSection {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

/* モバイル端末用のスタイル（小さい画面） */
@media (max-width: 800px) {
  /* イベント名 */
  .EventHeader {
    flex-direction: column;
    margin: 10px;
  }

  .EventHeader img {
    width: 100%;
  }

  .EventHeader h2,
  p {
    overflow: scroll;
  }

  /* レビュー部分 */
  .ReviewsSection {
    flex-direction: column;
    margin: 10px;
  }
}
