/* 口コミ表示部分 */
.user-reviews {
  width: 60%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* 口コミなし */
.no-reviews {
  width: 70%;
}

.review-content {
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-content p {
  height: 150px;
  max-height: 200px;
  overflow-y: auto;
}

/* 口コミ表示部分の全体のスタイル */
.user-reviews {
  display: grid;
}

/* 個々の口コミのスタイル */
.review-content {
  border-radius: 5px; /* 角の丸み */
  /* padding: 5px 10px 5px 10px; 内部の余白 */
  background-color: #fff; /* 背景色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影のスタイル */
}

/* 口コミのタイトル（ニックネーム）のスタイル */
.review-content h3 {
  color: #b8830d; /* 文字色 */
  font-weight: bold;
}

/* 口コミの本文のスタイル */
.review-content p {
  font-size: 15px;
}

/* 口コミ投稿部分 */
/* 口コミ作成フォーム全体のスタイル */
.create-review {
  width: 25%;
  height: 300px; /* 最小の高さを設定 */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* エラーメッセージのスタイル */
.error {
  color: red;
  margin-bottom: 10px; /* エラーメッセージと入力フィールド間の余白 */
}

/* ニックネームと内容のラベルと入力フィールド */
.create-review .nickname,
.create-review .content {
  margin-bottom: 15px; /* 各入力フィールド間の余白 */
}

.create-review label {
  display: block; /* ラベルをブロック要素に */
  margin-bottom: 5px; /* ラベルと入力フィールド間の余白 */
  font-weight: bold; /* ラベルの文字を太字に */
}

.create-review input[type="text"],
.create-review textarea {
  width: 90%; /* 入力フィールドの幅 */
  padding: 8px; /* 入力フィールドの内部余白 */
  border: 1px solid #ddd; /* 枠線のスタイル */
  border-radius: 4px; /* 枠の角の丸み */
}

.create-review textarea {
  height: 100px; /* テキストエリアの高さ */
  resize: vertical; /* 垂直方向のみサイズ変更可能に */
}

/* モバイル端末用のスタイル（小さい画面） */
@media (max-width: 479px) {
  .user-reviews {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .review-content {
    height: 140px;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
  }

  .review-content h3 {
    font-size: 15px;
  }

  .review-content p {
    font-size: 13px;
    height: 100px;
    overflow-y: scroll;
    margin: 0;
  }

  .no-reviews {
    text-align: center;
  }

  .no-reviews h2 {
    font-size: 19px;
  }

  .create-review {
    width: 80%;
    height: auto;
    margin: 10px;
  }
}
