* {
  margin: 0;
  padding: 0;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", serif;
}

.App {
  background-image: url(./assets/background.jpg);
  padding-top: 5px;
}

button {
  background-color: #b8830d;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #e0b872;
}
